.fib-live-product-pulse {
    .product-detail-delivery-information.fib-live-product-pulse-is-loading {
        min-height: 2rem;
    }

    .fib-live-product-pulse-viewers.fib-live-product-pulse-is-loading {
        min-height: 1.5rem;
    }

    .fib-live-product-pulse-is-loading.has-element-loader {
        .element-loader-backdrop {
            background-color: transparent;
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 0;

            > .loader {
                position: static;
                margin: 0;
            }
        }

        > *:not(.element-loader-backdrop) {
            visibility: hidden;
        }
    }

    .fib-live-product-pulse-viewers {
        margin-top: 0.5rem;
    }
}
